body{ 
    text-align: center;
}

button {
    background-color: aquamarine;
    border: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

button:hover{
    cursor: pointer;
}

#mood {
    padding: 4%;
    border: 1px solid black;
    margin: 10%;
    box-shadow: 5px 10px;
}

#mood-adder {
    
}